.page3Container {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
}
.textoBotonesPage3{
      height: 100vh;
      min-width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.textContacto{
      color: white;
      font-size: 7vw;
      margin-left: 5vw;
      font-family: Lato;
      letter-spacing: 5px;
      text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
      margin-bottom: 1vw;
      position: relative;
      left: -25vw;
      top: -15vw;
}
.linea1Page3 {
      width: 38vw;
      border-top: #ff4d5a 1.3vw solid;
      border-radius: 5px;
      // margin-left: -20vw;
      margin-bottom: 1vw;
      position: relative;
      left: -25vw;
      top: -15vw;
}
.linea2Page3 {
      width: 38vw;
      border-top: #ff4d5a 1.3vw solid;
      border-radius: 5px;
      margin-left: -20vw;
      margin-bottom: 1vw;
      position: relative;
      left: -11vw;
      top: -14.5vw;
}
.btnContacto{
      background-color: #ff4d5a;
      border: none;
      border-radius: 50px;
      color: white;
      font-family: Lato;
      font-size: 3vw;
      width: 45vw;
      height: 7vw;
      margin-top: -5vw;
      margin-left: -10vw;
      cursor: pointer;
      transition: 250ms;
      z-index: 25;
}
.btnContacto:hover {
      position: relative;
      top: -1vw !important;
      transition: 250ms;

}

// .curriculumContainer{
//       height: 100vh;
//       width: 80%;
//       overflow: hidden;
// }

.ImagenCurriculum{
      height: 100vw;
      filter: grayscale(100%);
      position: relative;
      top: -20vw;
      left: 20vw;
      transition: 300ms;

}

.ImagenCurriculum:hover{
      filter: grayscale(0%) !important;
      transition: 300ms;
}