// * Pantallas Celulares Verticales * //

.HomeImgContainer{
      height: 50vh;
      margin-top: 20vw;
      // height: 100vh;
      width: 50%;
      display: flex;
      // position: absolute;
      justify-content: center;
      align-items: center;

}

.imgContainer{
      width: 100%;
      height: 35vw;
}

.homePantalla{
      position: relative;
      z-index: -1;
      width: 35vw;
      top:-23vw;
      left: 20%;
      
}

.homePersona{
      position: relative;
      z-index: 10;
      width: 30vw;
      top: 12vw;
      left: 25%;
}


.homeCode{
      position: relative;
      width: 5vw;
      top: -33vw;
      left: -20%;
}

.homeEngranaje1{
      position: relative;
      z-index: 1;
      width: 6vw;
      top: -38vw;
      left: -23%;
}
.homeEngranaje2{
      position: relative;
      width: 4vw;
      z-index: 1;
      top: -29vw;
      left: -5%;
}

.homeTextLeft{
      position: relative;
      width: 9vw;
      z-index: 2;
      top: -41vw;
      left: 28%;
}

.homeTextTop{
      position: relative;
      width: 10vw;
      top: -51vw;
      left: 48%;
}
// * Pantallas Computadoras * //

@media only screen and (min-width: 1366px) {
      .HomeImgContainer{
            margin-top: 10vw;
      }
      .homePantalla{
            left: -10%;
            
      }
      
      .homePersona{
            left: -10%;
      }
      
      
      .homeCode{
            top: -45vw;
            left: 25%;
      }
      
      .homeEngranaje1{
            top: -51vw;
            left: 25%;
      }
      .homeEngranaje2{
            top: -42vw;
            left: 50%;
      }
      
      .homeTextLeft{
            position: relative;
            width: 9vw;
            z-index: 2;
            top: -41vw;
            left: -42%;
      }
      
      .homeTextTop{
            position: relative;
            width: 10vw;
            top: -51vw;
            left: -13%;
      }
}