@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");

.CardProjectContainer {
      width: 50vw;
      height: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
}
.imagenProyecto {
      width: 40vw;
      height: 22vw;
      border-radius: 10px;
}
.textoCardContainer {
      width: 37vw;
      height: 20vw;
      background-color: white;
      margin-top: -4.5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}
.nombreProyecto {
      font-family: Lato;
      font-size: 4vw;
      margin-bottom: 0.4vw;
      color: #3f51b5;
      text-align: center;
}
.textoProyecto {
      font-family: Lato;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
      min-height: 6.5vw;
      text-align: center;
      padding-left: 2vw;
      padding-right: 2vw;
      margin-bottom: 0.3vw;
}

.btnsContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
}
.btnGitHub {
      width: 3vw;
      border-radius: 100px;
      margin-right: 1vw;
      z-index: 300;
      cursor: pointer;
}
.btnWebPage {
      width: 3vw;
      margin-right: 1vw;
      z-index: 300;
      cursor: pointer;
}
@media only screen and (min-width: 1366px) {
      .CardProjectContainer {
            width: 25vw;
            height: 30vw;
            justify-content: center;
      }
      .imagenProyecto {
            width: 25vw;
            height: 15vw;
      }
      .textoCardContainer {
            width: 23vw;
            height: 13vw;
      }
      .nombreProyecto {
            font-size: 3vw;
      }
      .textoProyecto {
            font-size: 1vw;
            min-height: 5vw;
            padding-left: 2vw;
            padding-right: 2vw;
            margin-bottom: 0.3vw;
      }
}