.pageProyectsContent{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.proyectCardsContainer{
      display: flex;
      padding-top: 5%;
      height: 80%;
      width: 100%;
      align-items: center;
      justify-content: space-around;
}
.proyectCards{
      display: flex;
      width: 100%;
      flex-direction: column;
}
.tecnologiasContainer{
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
}
.iconoTecnologia{
      max-height: 70px;
      max-width: 95px;
}
.iconoTecnologiaAxios{
      width: 95px;
}




//////


.iconoTecnologiaContainer{
      width: 100px;
      height: 100px;
      background-color: white;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.buttonBackProyects{
      width: 150px;
      position: relative;
      top: 50px;
      left: -800px;
      z-index: 1;
      cursor: pointer;
}