.pageProjectsContent {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.headerProjects {
      width: 90%;
      height: 7%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 2vw;
}
.buttonBackProjects {
      width: 10vw;
      z-index: 1;
      cursor: pointer;
}

.CardsProjectsContainer {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-around;
}

.tecnologiasContainer {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
}
.iconoTecnologiaAxios {
      width: 4vw;
}

@media only screen and (min-width: 1366px) {
      .CardsProjectsContainer{
            flex-direction: row;
      }
      .buttonBackProjects{
            margin-top: 5vw;
      }
}