@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");

html,
body,
#root {
      width: 100%;
      height: 100vh;
      margin: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
      background-color: #ff4d5a !important;
      border-radius: 0% !important;
      width: 5vw !important;
      height: 0.3vw !important;
}

#fp-nav ul li {
      margin-bottom: 25px !important;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
      width: 7vw !important;
      margin: 0px !important;
}

.backgroundContainer {
      height: 100vh;
      width: 100%;
      position: fixed;
      display: flex;
      background-image: linear-gradient(
            to bottom,
            #072142,
            #061c37,
            #07182b,
            #061220,
            #020b16
      );
      background-size: 100%;
      z-index: -200;
}

.starsBackground {
      height: 100%;
      width: 100%;
}
.backgroundImage {
      height: 100vh;
      width: 100%;
}

// * Pantallas Celulares Verticales * //
.testImgBackground {
      height: 100vh;
      width: 250%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
}
.imageInBackground {
      width: 40vw;
      margin-top: 25vw;
}

.fp-left {
      top: 85% !important;
      left: 50% !important;
      transform: rotate(270deg) !important;
}

// * Pantallas Computadoras * //

@media only screen and (min-width: 1366px) {
      .testImgBackground {
            width: 250%;
            align-items: center;
            justify-content: flex-end;
            margin-right: -1vw;
      }
      .imageInBackground {
            margin-top: 0;
      }
      .fp-left {
            top: 45% !important;
            left: 0% !important;
            transform: rotate(360deg) !important;
      }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
            background-color: #ff4d5a !important;
            border-radius: 0% !important;
            width: 3vw !important;
            height: 0.3vw !important;
      }

      #fp-nav ul li {
            margin-bottom: 25px !important;
      }

      #fp-nav ul li:hover a.active span,
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li:hover a.active span,
      .fp-slidesNav ul li a.active span {
            width: 5vw !important;
            margin: 0px !important;
      }
}
